<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>SheduleApp</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


	<link rel="stylesheet" type="text/css" href="{% static 'scheduleapp/css/styles.css' %}">
</head>
</html><body>

	<div id="dialog-confirm" title="Вопрос" hidden="true">
	  <p>Завершить текущее задание?</p>
	</div>

	<div id="dialog-add-task" title="Добавить задание" hidden="true">
		  <form>
		    <fieldset>
		      <label for="name">Название</label>
		      <input type="text" name="name" id="name_inp" value="" class="text ui-widget-content ui-corner-all"><br>
		      <label for="time">Время</label>
		      <input type="text" name="text" id="time_inp" value="" class="text ui-widget-content ui-corner-all"><br>
		      <label for="deadline">Дедлайн</label>
		      <input type="deadline" name="deadline" id="deadline_inp" value="" class="text ui-widget-content ui-corner-all">

		      <!-- Allow form submission with keyboard without duplicating the dialog button -->
		      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
		    </fieldset>
		  </form>
	</div>

	<header>
		<div id="title">
			<h1> Список ваших дел </h1>
		</div>
		<button type="button" class="btn btn-danger" id="logout_btn">Выйти</button>
		<button type="button" class="btn btn-secondary" id="add_task">Добавить задание</button>

	</header><br><br><br>
	<content>
		<div id="tasklist">
			{% for task in tasks_list %}
				<div class="task">
					<p class="name"> {{ task.name }} </p>
					<p class="time"> {{ task.time }} </p>
					<p class="deadline"> {{ task.deadline }} </p>
				</div>
			{% endfor %}
		</div>

	</content>
</body>
		<script type="text/javascript" src="{% static 'scheduleapp/js/script.js' %}"></script>
</html>
